@tailwind base;
@tailwind components;
@tailwind utilities;
html, body
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
  /* Custom style */
  .header-right {
    width: calc(100% - 3.5rem);
}
.sidebar:hover {
    width: 16rem;
}
@media only screen and (min-width: 768px) {
    .header-right {
        width: calc(100% - 12rem);
    }
}
.pagination {
   @apply relative right-0 z-0 inline-flex mt-2 -space-x-px rounded-md shadow-sm;
}
.page-link {
    @apply relative items-center hidden px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 md:inline-flex;
}
.active a{
    @apply bg-gray-100;
}
.sr-only {
    @apply hidden;
}
.number {
    width: 10% !important;
}
@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}
